<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alphabetMapper">

	<resultMap id="alphabetResultSet" 		type="alphabetmarket">
		<result column="CLASS_NO"	 		property="classNo" />
		<result column="MARKET_BNO"			property="marketBno" />
		<result column="MEMBER_ID" 			property="writer" />
		<result column="ALPHABET" 			property="alphabet" />
		<result column="CONTENT" 			property="content" />
		<result column="CREATE_DATE" 		property="createDate" />
		<result column="STATUS" 			property="status" />
		<result column="SELLING_STATUS" 	property="sellingStatus" />
		<result column="TITLE" 				property="title" />
	</resultMap>
	
	<resultMap id="replyResultSet" 			type="alphabetReply">
		<result column="REPLY_NO"	 		property="replyNo" />
		<result column="MEMBER_ID"		property="replyWriter" />
		<result column="REPLY_ALPHABET" 	property="alphabet" />
		<result column="REPLY_CONTENT" 		property="replyContent" />
		<result column="REPLY_DATE" 		property="replyDate" />
		<result column="REF_MARKET" 		property="refMarket" />
		<result column="REPLY_STATUS" 		property="replyStatus" />
		<result column="REPLY_SELECTED" 	property="replySelected" />
	</resultMap>


	
	<select id="selectListOnlyAlphabet" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND ALPHABET = #{alphabet}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
		<select id="selectListOnlySellingStatus" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND SELLING_STATUS = #{sellingStatus}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
	<select id="selectListNoneFilter" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
	<select id="selectListAllFilters" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND ALPHABET = #{alphabet}
		   AND SELLING_STATUS = #{sellingStatus}
		 ORDER BY CREATE_DATE DESC
	</select>

	
	
	<select id="selectDetail" resultMap="alphabetResultSet">
	SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CONTENT, CREATE_DATE, SELLING_STATUS, TITLE
	  FROM ALPHABET_MARKET
	  JOIN MEMBER ON(WRITER = MEMBER_NO)
	 WHERE MARKET_BNO = #{bno}
	</select>
	
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT REPLY_NO, MEMBER_ID, REPLY_ALPHABET, REPLY_CONTENT, REPLY_DATE, REF_MARKET, REPLY_SELECTED
		  FROM ALPHABET_REPLY
		  JOIN MEMBER ON(REPLY_WRITER = MEMBER_NO)
		 WHERE REPLY_STATUS = 'Y' 
		   AND REF_MARKET = #{bno}
		 ORDER BY REPLY_DATE DESC
	</select>
	
	
	<select id="replyCount" resultType="_int">
		SELECT COUNT(*)
		  FROM ALPHABET_REPLY
		  JOIN MEMBER ON(REPLY_WRITER = MEMBER_NO)
		 WHERE REPLY_STATUS = 'Y' 
		  AND REF_MARKET = #{bno}
	</select>
	
	
	<insert id="insertMarket" parameterType="alphabetMarket" >
		INSERT INTO ALPHABET_MARKET
		VALUES(SEQ_MARKET_BNO.NEXTVAL, #{writer}, #{alphabet}, #{content}, DEFAULT, DEFAULT, DEFAULT, #{classNo}, #{title});
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>