<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alphabetMapper">

	<resultMap id="marketResultSet" 		type="alphabetmarket">
		<result column="REF_CLASS"	 		property="classNo" />
		<result column="MARKET_BNO"			property="marketBno" />
		<result column="MEMBER_ID" 			property="writer" />
		<result column="ALPHABET" 			property="alphabet" />
		<result column="CONTENT" 			property="content" />
		<result column="CREATE_DATE" 		property="createDate" />
		<result column="STATUS" 			property="status" />
		<result column="SELLING_STATUS" 	property="sellingStatus" />
		<result column="TITLE" 				property="title" />
	</resultMap>
	
	<resultMap id="replyResultSet" 			type="alphabetReply">
		<result column="REPLY_NO"	 		property="replyNo" />
		<result column="MEMBER_ID"			property="replyWriter" />
		<result column="MEMBER_NO"			property="replyMno" />
		<result column="REPLY_ALPHABET" 	property="alphabet" />
		<result column="REPLY_CONTENT" 		property="replyContent" />
		<result column="REPLY_DATE" 		property="replyDate" />
		<result column="REF_MARKET" 		property="refMarket" />
		<result column="REPLY_STATUS" 		property="replyStatus" />
		<result column="REPLY_SELECTED" 	property="replySelected" />
	</resultMap>
	
	<resultMap id="alphabetResultSet" 			type="alphabet">
		<result column="MEMBER_NO"	 			property="cno" />
		<result column="CLASS_NO"				property="mno" />
		<result column="ALPHABET" 				property="alphabet" />
		<result column="COUNT" 					property="count" />
	</resultMap>
	
	<resultMap id="myCountResultSet" type="myCount" >
		<result column="CLASS_NO"				property="classNo" />
		<result column="MEMBER_NO"	 			property="memberNo" />
		<result column="COUPON_COUNT" 			property="couponCount" />
		<result column="GACHA_COUNT" 			property="gachaCount" />
		<result column="TOTAL_COUPON_COUNT" 	property="totalCouponCount" />
	</resultMap>


	
	<select id="selectListOnlyAlphabet" parameterType="alphabetMarket" resultMap="marketResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND ALPHABET = #{alphabet}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
		<select id="selectListOnlySellingStatus" parameterType="alphabetMarket" resultMap="marketResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND SELLING_STATUS = #{sellingStatus}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
	<select id="selectListNoneFilter" parameterType="alphabetMarket" resultMap="marketResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
	<select id="selectListAllFilters" parameterType="alphabetMarket" resultMap="marketResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND ALPHABET = #{alphabet}
		   AND SELLING_STATUS = #{sellingStatus}
		 ORDER BY CREATE_DATE DESC
	</select>

	
	
	<select id="selectDetail" resultMap="marketResultSet">
	SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CONTENT, CREATE_DATE, SELLING_STATUS, TITLE, REF_CLASS
	  FROM ALPHABET_MARKET
	  JOIN MEMBER ON(WRITER = MEMBER_NO)
	 WHERE MARKET_BNO = #{bno}
	</select>
	
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT REPLY_NO, MEMBER_ID, MEMBER_NO, REPLY_ALPHABET, REPLY_CONTENT, REPLY_DATE, REF_MARKET, REPLY_SELECTED
		  FROM ALPHABET_REPLY
		  JOIN MEMBER ON(REPLY_WRITER = MEMBER_NO)
		 WHERE REPLY_STATUS = 'Y' 
		   AND REF_MARKET = #{bno}
		 ORDER BY REPLY_DATE
	</select>
	
	
	<select id="replyCount" resultType="_int">
		SELECT COUNT(*)
		  FROM ALPHABET_REPLY
		  JOIN MEMBER ON(REPLY_WRITER = MEMBER_NO)
		 WHERE REPLY_STATUS = 'Y' 
		  AND REF_MARKET = #{bno}
	</select>
	
	
	<insert id="insertMarket" parameterType="alphabetMarket" >
		INSERT INTO ALPHABET_MARKET
		VALUES(SEQ_MARKET_BNO.NEXTVAL, #{writer}, #{alphabet}, #{content}, DEFAULT, DEFAULT, DEFAULT, #{classNo}, #{title})
	</insert>
	
	
	<select id="selectMyAlphabet" parameterType="alphabet" resultMap="alphabetResultSet">
		SELECT ALPHABET, COUNT(*) as COUNT
		  FROM ALPHABET
		 WHERE MEMBER_NO = #{mno}
		   AND CLASS_NO = #{cno}
		 GROUP BY ALPHABET
		  ORDER BY ALPHABET
	</select>

	<insert id="insertReply" parameterType="alphabetReply">
		INSERT INTO ALPHABET_REPLY
		VALUES(SEQ_MARKET_RNO.NEXTVAL, #{replyWriter}, #{alphabet}, #{replyContent}, DEFAULT, #{refMarket}, DEFAULT, DEFAULT)
	</insert>
	
	<select id="checkMarketWriterAlphabet"  parameterType="changeAlphabet" resultType="boolean">
		SELECT COUNT(*)
		  FROM ALPHABET
		 WHERE MEMBER_NO = #{marketMno}
		   AND CLASS_NO = #{classNo}
		   AND ALPHABET = #{marketAlphabet}
	</select>
	
	<select id="checkReplyAlphabet"  parameterType="changeAlphabet" resultType="boolean">
		SELECT COUNT(*)
		  FROM ALPHABET
		 WHERE MEMBER_NO = #{replyMno}
		   AND CLASS_NO = #{classNo}
		   AND ALPHABET = #{replyAlphabet}
	</select>
	
	<update id="updateMarketWriterAlphabet"  parameterType="changeAlphabet">
	UPDATE ALPHABET
	   SET ALPHABET = #{replyAlphabet}
	 WHERE MEMBER_NO = #{marketMno}
	   AND CLASS_NO = #{classNo}
	   AND ALPHABET = #{marketAlphabet}
	   AND ROWNUM = 1
	</update>
	
	<update id="updateReplyAlphabet"  parameterType="changeAlphabet">
	UPDATE ALPHABET
	   SET ALPHABET = #{marketAlphabet}
	 WHERE MEMBER_NO = #{replyMno}
	   AND CLASS_NO = #{classNo}
	   AND ALPHABET = #{replyAlphabet}
	   AND ROWNUM = 1
	</update>
	
	
	<update id="changeMarketStatus" parameterType="changeAlphabet">
	UPDATE ALPHABET_MARKET
	   SET SELLING_STATUS = 'N'
	 WHERE MARKET_BNO = #{marketNo}
	</update>
	
	<update id="changeReplyStatus" parameterType="changeAlphabet">
	UPDATE ALPHABET_REPLY
	   SET REPLY_SELECTED = 'Y'
	 WHERE REPLY_NO = #{replyNo}
	</update>
	
	<select id="writerLastMarket" parameterType="alphabetMarket" resultType="_int">
	SELECT MARKET_BNO
	  FROM (SELECT MARKET_BNO
	          FROM ALPHABET_MARKET
	         WHERE REF_CLASS = #{classNo}
	           AND WRITER = #{writer}
	         ORDER BY CREATE_DATE DESC)
	 WHERE ROWNUM = 1
	</select>
	
	<select id="ajaxMyCount" parameterType="myCount" resultMap="myCountResultSet">
	SELECT COUPON_COUNT, GACHA_COUNT, TOTAL_COUPON_COUNT
	  FROM CLASS_MYCOUNT
	 WHERE CLASS_NO = #{classNo}
	   AND MEMBER_NO = #{memberNo}
	</select>
	
	
	
	<insert id="insertAlphabet" parameterType="alphabet">
	INSERT INTO ALPHABET
	VALUES(#{mno}, #{cno}, #{alphabet})
	</insert>
	
	<update id="updateMyCount" parameterType="alphabet">
	UPDATE CLASS_MYCOUNT 
	   SET GACHA_COUNT = GACHA_COUNT - 1
	 WHERE CLASS_NO = #{cno}
	   AND MEMBER_NO = #{mno}
	</update>
	
	<select id="checkWords" parameterType="words" resultType="boolean">
	SELECT COUNT(*)
	  FROM VOCA
	  JOIN VOCABOOK USING(BOOK_NO)
	  JOIN CLASS_VOCABOOK USING(BOOK_NO)
	 WHERE CLASS_NO = #{classNo}
	   AND VOCA_EN = #{word}
	   AND VOCA_KR = #{meaning}
	</select>
	
	<update id="updateMyCoupon" parameterType="words">
	UPDATE CLASS_MYCOUNT 
	   SET COUPON_COUNT = COUPON_COUNT + 1, TOTAL_COUPON_COUNT = TOTAL_COUPON_COUNT + 1
	 WHERE CLASS_NO = #{classNo}
	   AND MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="deleteAlphabet" parameterType="words">
	DELETE FROM ALPHABET
	 WHERE CLASS_NO = #{classNo}
	   AND MEMBER_NO = #{memberNo}
	   AND ALPHABET = #{word}
	   AND ROWNUM = 1
	</delete>
	
	

</mapper>