<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeMapper">
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM S_STORE
	</select>
	<select id="selectList" resultType="Store">
		SELECT 
				SP_NO spNo
				,FILE_NO fileNo
				,SP_NAME spName
				,SP_CONTENT spCount
				,SP_PRICE spPrice
				,AMOUNT amount
				,VIEW_COUNT viewCount
				,SP_ONECOM spOneCom
				,SP_DAY spDay
		FROM
			S_STORE
		<!--CK확인후 수정요망  -->
	</select>
	<insert id="insertStoreBoard" parameterType="Store">
	
	INSERT 
		INTO
				S_STORE
				(SP_NO
				<!-- ,FILE_NO -->
				,SP_NAME
				,SP_CONTENT
				,SP_PRICE
				,AMOUNT
				,SP_ONECOM
				,SP_DAY)
		VALUES
			(SEQ_SP_NO.NEXTVAL
		<!-- 	,SEQ_FNO.NEXTVAL -->
			,#{spName}
			,#{spCount}
			,#{spPrice}
			,#{amount}
			,{spOnecom}
			,SYSDATE)	
	
	</insert>
</mapper>