<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar-mapper">

	

	<insert id="insertSchedule" parameterType="calendar">
		INSERT
		  INTO
		  	   CALENDAR
		VALUES
			   (
			   SEQ_SCHEDULE_NO.NEXTVAL
			  ,#{memberNo}
			  ,#{schedule}
			  ,#{startDate}
			  ,#{endDate}
			  ,#{color}
			   )  	   
	</insert>
	
	<insert id="insertClassSchedule" parameterType="_int">
		INSERT
		  INTO
		  	   CALENDAR_CLASS
		VALUES
			   (
			   SEQ_SCHEDULE_NO.CURRVAL
			  ,#{classNo} 
			   )  	   
	</insert>

	<select id="selectScheduleList" parameterType="_int" resultType="calendar">
		SELECT
		  	   schedule_no scheduleNo
		  	  ,member_no memberNo
		  	  ,schedule schedule
		  	  ,to_char(start_date, 'YYYY-MM-DD') startDate
		  	  ,to_char(end_date + interval '1' day, 'YYYY-MM-DD') endDate
		  	  ,color color 
		  FROM
		   	   CALENDAR 
		 WHERE
		 	   MEMBER_NO = #{memberNo}
	</select>

	<select id="selectDaySchedule" parameterType="hashMap" resultType="calendar" >
		SELECT
			   A.schedule_no scheduleNo
		      ,member_no memberNo
		      ,schedule schedule
		      ,to_char(start_date, 'YYYY-MM-DD') startDate
		      ,to_char(end_date + interval '1' day, 'YYYY-MM-DD') endDate
		      ,color color
		      ,class_no classNo
		      ,class_name className
		  FROM
		       CALENDAR A
		  JOIN 
		       CALENDAR_CLASS B ON(A.SCHEDULE_NO = B.SCHEDULE_NO)
		  JOIN
		       CLASSROOM C USING(CLASS_NO)
		 WHERE
		       CLASS_NO IN (SELECT CLASS_NO
		                      FROM CLASS_MEMBER
		                     WHERE STUDENT_NO = #{c.memberNo})
		   AND
		       #{date} BETWEEN START_DATE AND END_DATE 
		 UNION
		SELECT
			   schedule_no scheduleNo
		  	  ,member_no memberNo
		  	  ,schedule schedule
		  	  ,to_char(start_date, 'YYYY-MM-DD') startDate
		  	  ,to_char(end_date + interval '1' day, 'YYYY-MM-DD') endDate
		  	  ,color color
		  	  ,null classNo
		  	  ,null className
		  FROM
		  	   CALENDAR
		 WHERE
		 	   MEMBER_NO = #{c.memberNo}
		   AND
		   	   #{date} BETWEEN START_DATE AND END_DATE
		 ORDER BY classNo 
			
	</select>
	
	<select id="selectDaySchedule_class" parameterType="hashMap" resultType="calendar" >
		SELECT 
	 		   SCHEDULE_NO shceduleNo
	 		  ,MEMBER_NO memberNo
	 		  ,SCHEDULE schedule
	 		  ,TO_CHAR(START_DATE, 'YYYY-MM-DD') startDate
	 		  ,TO_CHAR(END_DATE, 'YYYY-MM-DD') endDate
	 		  ,COLOR color
	 		  ,C.CLASS_NO classNo
	 		  ,CLASS_NAME className
	 	 FROM
	 	 	  CALENDAR A
	 	 JOIN
	 	 	  CALENDAR_CLASS B USING(SCHEDULE_NO)
	 	 JOIN
	 	 	  CLASSROOM C ON(B.CLASS_NO = C.CLASS_NO)	  	  	  
	 	WHERE
	 		  B.CLASS_NO IN (SELECT
	 		  					    CLASS_NO
	 		  				   FROM
	 		  				   	    CLASSROOM
	 		  				  WHERE
	 		  				  	    TEACHER_NO = #{memberNo})	
	</select>

	<delete id="deleteSchedule" parameterType="_int">
		delete
		  from
		  	   calendar
  	     where
  	     	   schedule_no = #{scheduleNo}
	</delete>

	<update id="updateSchedule" parameterType="calendar">
		update
			   calendar
		   set
		   	   schedule = #{schedule}
		   	  ,start_date = #{startDate}
		   	  ,end_date = #{endDate}
		   	  ,color = #{color}
		 where
		 	   schedule_no = #{scheduleNo}  	  
	</update>
	
	<select id="selectClassScheduleList" parameterType="calendar" resultType="calendar">
		<choose>
			<when test='memberType == "S"'>
				SELECT 
				       SCHEDULE_NO scheduleNo
				      ,MEMBER_NO memberNo
				      ,SCHEDULE schedule
				      ,TO_CHAR(START_DATE, 'YYYY-MM-DD') startDate 
				      ,TO_CHAR(END_DATE + interval '1' day, 'YYYY-MM-DD') endDate
				      ,COLOR color
				      ,B.CLASS_NO classNo
				      ,CLASS_NAME className
				  FROM 
				       CALENDAR A
				  JOIN 
				       CALENDAR_CLASS B USING(SCHEDULE_NO)
				  JOIN
				  	   CLASSROOM C ON(B.CLASS_NO = C.CLASS_NO)     
				 WHERE
				       B.CLASS_NO IN (SELECT CLASS_NO
				                        FROM CLASS_MEMBER
				                        JOIN CLASSROOM USING(CLASS_NO)
				                       WHERE STUDENT_NO = #{memberNo})
        	</when>
        	<when test='memberType == "T"'>
        		SELECT
        			   SCHEDULE_NO scheduleNo
        			  ,MEMBER_NO memberNo
        			  ,SCHEDULE schedule
        			  ,TO_CHAR(START_DATE, 'YYYY-MM-DD') startDate 
				      ,TO_CHAR(END_DATE + interval '1' day, 'YYYY-MM-DD') endDate
				      ,B.CLASS_NO classNo
				      ,CLASS_NAME className
				  FROM
				 	   CALENDAR A
				  JOIN
				  	   CALENDAR_CLASS B USING(SCHEDULE_NO)
				  JOIN
				  	   CLASSROOM C ON(B.CLASS_NO = C.CLASS_NO)	   
				 WHERE
				 	   B.CLASS_NO IN (SELECT 
				 	   						 CLASS_NO
				 	   					FROM
				 	   						 CLASSROOM
				 	   				   WHERE
				 	   				   		 TEACHER_NO = #{memberNo}) 	   
        	</when>
        	
    	</choose>
	</select>


</mapper>