<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vocaMapper">

	<resultMap type="vocaBook" id="vocaBookResultSet">
		<result column="BOOK_NO" property="bookNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="CLASS_NO" property="classNo"/>
		<result column="BOOK_NAME" property="bookName"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="CLASS_NAME" property="className"/>
	</resultMap>
	
	<select id="selectVocaBookList" parameterType="_int" resultMap="vocaBookResultSet">
		SELECT
		       BOOK_NO
		      ,MEMBER_NAME
		      ,BOOK_NAME
		      ,C.CLASS_NAME CLASS_NAME
		  FROM
		       VOCABOOK V
		  LEFT 
		  JOIN
		       CLASS_VOCABOOK CV USING (BOOK_NO)
		  LEFT
		  JOIN
		       CLASSROOM C ON (CV.CLASS_NO = C.CLASS_NO)
		  LEFT
		  JOIN
		       MEMBER M ON (M.MEMBER_NO = C.MEMBER_NO)
		 WHERE
		       V.MEMBER_NO = #{memNo}
	</select>
</mapper>