<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="letterMapper">

<resultMap id="letterResultSet" 	 	 type="letter"> 
	<result column="LETTER_NO"			 property="letterNo" />
	<result column="CLASS_NO"			 property="classNo" />
	<result column="SENDER" 			 property="sender" />
	<result column="RECIPIENT" 	  		 property="recipient" />
	<result column="LETTER_CONTENT" 	 property="letterContent" />
	<result column="SEND_DATE" 			 property="sendDate" />
	<result column="ANONYMOUS" 			 property="anonymous" />
	<result column="TO_MANITTO" 		 property="toManitto" />
	<result column="GIFT"				 property="gift" />
	<result column="READ_CHECK" 		 property="readCheck" />
</resultMap>


<select id="receviedCount" parameterType="letter" resultType="_int">
SELECT COUNT(*)
  FROM LETTER
  JOIN MEMBER USING ON (SENDER = MEMBER_NO)
 WHERE CLASS_NO = #{classNo}
   AND RECIPIENT = #{recipient}
 ORDER BY SEND_DATE DESC
</select>

<select id="sentCount" parameterType="letter" resultType="_int">
SELECT COUNT(*)
   FROM LETTER
   JOIN MEMBER USING ON (RECIPIENT = MEMBER_NO)
  WHERE CLASS_NO = #{classNo}
    AND SENDER = #{sender}
  ORDER BY SEND_DATE DESC
</select>


<select id="ajaxReceivedLetter" parameterType="letter" resultMap="letterResultSet">
SELECT LETTER_NO, MEMBER_ID||'('||MEMBER_NAME||')' AS "SENDER", SUBSTR(LETTER_CONTENT, 0, 10)||'...' AS "LETTER_CONTENT", TO_CHAR(SEND_DATE, 'YYYY/MM/DD') AS "SEND_DATE", ANONYMOUS, GIFT, READ_CHECK, TO_MANITTO
  FROM LETTER
  JOIN MEMBER USING ON (SENDER = MEMBER_NO)
 WHERE CLASS_NO = #{classNo}
   AND RECIPIENT = #{recipient}
 ORDER BY SEND_DATE DESC
</select>

<select id="ajaxSentLetter" parameterType="letter" resultMap="letterResultSet">
 SELECT LETTER_NO, MEMBER_ID||'('||MEMBER_NAME||')' AS "RECIPIENT", SUBSTR(LETTER_CONTENT, 0, 10)||'...' AS "LETTER_CONTENT", TO_CHAR(SEND_DATE, 'YYYY/MM/DD') AS "SEND_DATE", ANONYMOUS, GIFT, READ_CHECK, TO_MANITTO
   FROM LETTER
   JOIN MEMBER USING ON (RECIPIENT = MEMBER_NO)
  WHERE CLASS_NO = #{classNo}
    AND SENDER = #{sender}
  ORDER BY SEND_DATE DESC
</select>






</mapper>