<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alphabetMapper">

	<resultMap id="alphabetResultSet" type="Alphabetmarket">
		<result column="CLASS_NO"	 		property="classNo" />
		<result column="MARKET_BNO"			property="marketBno" />
		<result column="MEMBER_ID" 			property="writer" />
		<result column="ALPHABET" 			property="alphabet" />
		<result column="CONTENT" 			property="content" />
		<result column="CREATE_DATE" 		property="createDate" />
		<result column="STATUS" 			property="status" />
		<result column="SELLING_STATUS" 	property="sellingStatus" />
		<result column="TITLE" 				property="title" />
	</resultMap>


	
	<select id="selectListOnlyAlphabet" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND ALPHABET = #{alphabet}
		 ORDER BY CREATE_DATE DESC
	</select>
	
		<select id="selectListOnlySellingStatus" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND SELLING_STATUS = #{sellingStatus}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	
	<select id="selectListNoneFilter" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		 ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectListAllFilters" parameterType="alphabetMarket" resultMap="alphabetResultSet">
		SELECT MARKET_BNO, MEMBER_ID, ALPHABET, CREATE_DATE, SELLING_STATUS, TITLE
		  FROM ALPHABET_MARKET
		  JOIN MEMBER ON(WRITER = MEMBER_NO)
		 WHERE REF_CLASS = #{classNo}
		   AND ALPHABET = #{alphabet}
		   AND SELLING_STATUS = #{sellingStatus}
		 ORDER BY CREATE_DATE DESC
	</select>

	
	
	<select id="selectDetail" resultMap="alphabetResultSet">
	
	</select>
	
	
	
	
</mapper>

