<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manittoMapper">

<resultMap id="manittoResultSet" 		type="manitto">
		<result column="CLASS_No"	 		property="classNo" />
		<result column="MANITTO"			property="manittoId" />
		<result column="MANITTi" 			property="manittiId" />
	</resultMap>



<select id="selectStudentNo" parameterType="manitto" resultType="int">
	SELECT STUDENT_NO
	  FROM CLASS_MEMBER
	 WHERE CLASS_NO = #{classNo}
</select>

<insert id="insertMatchingResult" parameterType="manitto">
	INSERT INTO MANITTO
	VALUES (#{classNo}, #{manittoNo}, #{manittiNo})
</insert>

<select id="selectManittoList" resultMap="manittoResultSet">
	SELECT A.MEMBER_ID||'('||A.MEMBER_NAME||')' AS "MANITTO", B.MEMBER_ID||'('||B.MEMBER_NAME||')' AS "MANITTI"
	  FROM MANITTO
	  JOIN MEMBER A ON(MANITTO = A.MEMBER_NO)
	  JOIN MEMBER B ON(MANITTI = B.MEMBER_NO)
	  WHERE CLASS_NO = #{classNo}
</select>

<delete id="deleteManitto">
	DELETE FROM MANITTO
	 WHERE CLASS_NO = #{classNo}
</delete>

<select id="selectMyManitti" parameterType="manitto" resultType="string">
	SELECT B.MEMBER_ID||'('||B.MEMBER_NAME||')' AS "MANITTI"
	  FROM MANITTO
	  JOIN MEMBER A ON(MANITTO = A.MEMBER_NO)
	  JOIN MEMBER B ON(MANITTI = B.MEMBER_NO)
	 WHERE CLASS_NO = #{classNo}
	   AND MANITTO = #{manittoNo}
</select>

















</mapper>