<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="MEMBER_TYPE" property="memberType"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="STATUS_YN" property="statusYN"/>
		<result column="LOGIN_TYPE" property="loginType"/>
	</resultMap>
	
	
	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT MEMBER_NO,
		       MEMBER_ID, 
		       MEMBER_PWD, 
		       MEMBER_NAME, 
		       EMAIL, PHONE, 
		       MEMBER_TYPE, 
		       TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS "ENROLL_DATE", 
		       LOGIN_TYPE
		 FROM  MEMBER
		WHERE  MEMBER_ID =  #{memberId}
		  AND  STATUS_YN = 'N'
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT 
		  INTO MEMBER
		       (
		       MEMBER_NO,
               MEMBER_ID,
               MEMBER_PWD, 
               MEMBER_NAME,
               MEMBER_TYPE,
               EMAIL, 
               PHONE,
               ENROLL_DATE 
               ) 
        VALUES(
        	   SEQ_MNO.NEXTVAL,
               #{memberId},
               #{memberPwd},
               #{memberName},
               #{memberType},
               #{email},
               #{phone},
               SYSDATE
               )      
	</insert>
	
	<update id="updateMember" parameterType="member">
		UPDATE
		       MEMBER
		   SET
		       MEMBER_NAME = #{memberName},
		       PHONE = #{phone}
		 WHERE    
		       MEMBER_NO = #{memberNo}
		   AND
		       MEMBER_ID = #{memberId}     
	</update>
	
	<select id="searchId" parameterType="string" resultMap="memberResultSet">
		SELECT
		       MEMBER_ID,
		       MEMBER_NO,
		       EMAIL,
		       PHONE,
		       MEMBER_NAME
		  FROM
		       MEMBER
		 WHERE
		       EMAIL = #{email}
		   AND
		       STATUS_YN = 'N'
	</select>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       MEMBER
		 WHERE
		       MEMBER_ID = #{memberId}           
	</select>
	
	<insert id="insertCert" parameterType="cert">
		INSERT
		  INTO
		      CERT
		      (
		      MEMBER_WHO,
		      SECRET,
		      CERT_NO,
		      CERT_WHEN
		      )
		VALUES
		      (
		      #{memberWho},
		      #{secret},
		      SEQ_CERT_CNO.NEXTVAL,
		      SYSDATE
		      )      
	</insert>
</mapper>