<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.wingddy.education.model.dao.EduMapper">
	
	<resultMap type="eduPro" id="eduProResultSet">
		<result column="EDU_NO" property="eduNo"/>
		<result column="CLASS_NO" property="classNo"/>
		<result column="EDU_NAME" property="eduName"/>
		<result column="EDU_TYPE" property="eduType"/>
		<result column="END_TIME" property="endTime"/>
		<result column="LIMIT_TIME" property="limitTime"/>
		<result column="TOTAL_COUNT" property="totalCount"/>
		<result column="COMPLETE_COUNT" property="completeCount"/>
		<result column="PROGRESS_RATE" property="progressRate"/>
	</resultMap>
	
	<resultMap type="edu" id="eduResultSet">
		<result column="EDU_NO" property="eduNo"/>
		<result column="CLASS_NO" property="classNo"/>
		<result column="EDU_NAME" property="eduName"/>
		<result column="EDU_TYPE" property="eduType"/>
		<result column="END_TIME" property="endTime"/>
		<result column="QUIZ_NO" property="quizNo"/>
		<result column="QUIZ_CONTENT" property="quizContent"/>
		<result column="CORRECT_CONTENT" property="correctContent"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="INCORRECT_CONTENT" property="incorrectContent"/>
	</resultMap>
	
	<select id="selectEduList" resultMap="eduProResultSet">
		SELECT 
		       EDU_NO
		      ,EDU_NAME
		      ,EDU_TYPE
		      ,TO_CHAR(END_TIME, 'YY"년" MM"월" DD"일"') END_TIME
		      ,(END_TIME - SYSDATE) LIMIT_TIME
		      ,TOTAL_COUNT
		      ,NVL(CC, 0) COMPLETE_COUNT
		      ,ROUND(NVL(CC, 0) / TOTAL_COUNT, 3) PROGRESS_RATE
		  FROM EDUCATION
		  JOIN (SELECT 
		               CLASS_NO
		              ,COUNT(*) TOTAL_COUNT
		          FROM
		               CLASS_MEMBER
		         GROUP
		            BY
		               CLASS_NO) USING (CLASS_NO)
		  LEFT
		  JOIN (SELECT
		               EDU_NO
		              ,COUNT(*) CC
		          FROM
		               QUIZ
		          JOIN
		               INCORRECT USING (QUIZ_NO)
		         GROUP
		            BY
		               MEMBER_NO, EDU_NO) USING (EDU_NO)
		 WHERE 
		       CLASS_NO = #{classNo}
		 ORDER
		    BY EDU_NO
	</select>
	
	<select id="selectProgressStudent" parameterType="classMember" resultMap="eduResultSet">
		SELECT
	           INCORRECT_CONTENT,
	           EDU_NAME,
	           EDU_TYPE,
	           EDU_NO,
	           QUIZ_CONTENT,
	           CORRECT_CONTENT
	      FROM
	           EDUCATION
	      JOIN
	           QUIZ USING(EDU_NO)
	      JOIN
	           INCORRECT USING(QUIZ_NO)
	     WHERE
	           MEMBER_NO = #{memberNo}
	       AND
	           CLASS_NO = #{classNo}
	</select>
	
	<select id="selectQuizList" resultMap="eduResultSet">
		SELECT
			   EDU_NO
			  ,EDU_NAME
			  ,CASE EDU_TYPE WHEN 'W' THEN '단어퀴즈' WHEN 'S' THEN '문장배치' ELSE 'OX퀴즈' END EDU_TYPE
			  ,TO_CHAR(END_TIME, 'YY"년" MM"월" DD"일"') END_TIME
			  ,QUIZ_NO
			  ,QUIZ_CONTENT
			  ,CORRECT_CONTENT
		  FROM
		  	   EDUCATION
		  JOIN
		  	   QUIZ USING(EDU_NO)
		 WHERE
		 	   EDU_NO = #{eduNo}
	</select>
	
	<update id="updateEndTime">
		UPDATE
			   EDUCATION
		   SET
		   	   END_TIME = SYSDATE
		 WHERE
		 	   EDU_NO = #{eduNo}
	</update>
	
	<select id="selectCompleteStudent" resultType="Member">
		SELECT
		       MEMBER_NO memberNo
		      ,MEMBER_ID memberId
		      ,MEMBER_NAME memberName
		  FROM
		       MEMBER
		 WHERE 
		       MEMBER_NO IN (SELECT
		                            MEMBER_NO
		                       FROM
		                            INCORRECT 
		                       JOIN
		                            QUIZ USING (QUIZ_NO)
		                      WHERE
		                            EDU_NO = #{eduNo}
		                      GROUP 
		                         BY MEMBER_NO)
	</select>
	
	<insert id="insertEducation" parameterType="Edu">
		INSERT
		  INTO
		  	   EDUCATION
		VALUES
		 	  (
		 	   SEQ_EDU_NO.NEXTVAL
		 	  ,#{classNo}
		 	  ,#{eduName}
		 	  ,#{eduType}
		 	  ,#{endTime}
		 	  ,#{gachaCount}
		 	  )
	</insert>
	
	<insert id="insertQuiz" parameterType="Edu">
		INSERT
		  INTO
		       QUIZ
		VALUES
			  (
			   SEQ_QUIZ_NO.NEXTVAL
			  ,SEQ_EDU_NO.CURRVAL
			  ,#{quizContent}
			  ,#{correctContent}
			  )
	</insert>
	
</mapper>