<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon-mapper">




	<select id="selectListCount" parameterType="_int" resultType="_int">
		select NVL(count(*), 0)
		  from coupon_product_shop
		 where class_no = #{classNo}
	</select>
	
	<select id="selectCpList" parameterType="couponProduct" resultType="couponProduct" >
		select 
		       product_no cpNo
		      ,cart_no cartNo
		      ,product_name productName
		      ,product_content productContent
		      ,coupon_price couponPrice
		      ,amount
		      ,class_no classNo
		      ,file_no fileNo
		      ,filePath
		  from 
		       vw_cp
		 where 
		       class_no = #{classNo}
		   and 
		   	   amount ^= 0    
		 order 
		    by 
		 	   coupon_price asc
	</select>
	
	<select id="selectCpList_desc" parameterType="couponProduct" resultType="couponProduct" >
		select 
		       product_no cpNo
		      ,cart_no cartNo
		      ,product_name productName
		      ,product_content productContent
		      ,coupon_price couponPrice
		      ,amount
		      ,class_no classNo
		      ,file_no fileNo
		      ,filePath
		  from 
		       vw_cp
		 where 
		       class_no = #{classNo}
		   and 
		   	   amount ^= 0       
		 order 
		 	by 
		 	   coupon_price desc
	</select>
	
	<select id="selectCpList_amount" parameterType="couponProduct" resultType="couponProduct" >
		select 
		       product_no cpNo
		      ,cart_no cartNo
		      ,product_name productName
		      ,product_content productContent
		      ,coupon_price couponPrice
		      ,amount
		      ,class_no classNo
		      ,file_no fileNo
		      ,filePath
		  from 
		       vw_cp
		 where 
		       class_no = #{classNo}
		   and 
		   	   amount > 0       
		 order 
		 	by 
		 	   amount asc
	</select>
	
	<insert id="insertMyCp" parameterType="list">
		insert 
		   all
		   	<foreach collection="list" index="index" item="couponProduct">
		   		into 
			  	     coupon_product 
			  	    (
			  	     product_no
			  	    ,member_no
			  	    )
	  	      values
			  		(
			  		 #{couponProduct.cpNo}
			  	    ,#{couponProduct.memberNo}
			  	    )
			</foreach>
		select * from dual						
	</insert>
	
	<update id="updateCp" parameterType="couponProduct">
		update 
			   coupon_product_shop
		   set
		   	   amount = amount - #{amount}
		 where
		 	   product_no = #{cpNo}
	</update>
	
	<update id="updateCoupon" parameterType="couponProduct">
		update
			   class_mycount
		   set
		   	   coupon_count = coupon_count - (select 
		   	   										 coupon_price
		   	   								    from
		   	   								    	 coupon_product_shop
	   	   								       where
	   	   								       	     product_no = #{cpNo}) * #{amount}
	     where member_no = #{memberNo}	   								       	     
	</update>
	
	<select id="selectClassCplist" parameterType="_int" resultType="couponProduct">
		select 
		       sp_no cpNo
		      ,name productName
		      ,A.cart_no cartNo
		      ,content productContent
		      ,file_path filePath
		      ,A.amount
		  from
		       vw_teacher_own_product A, coupon_product_shop B
		 where
		 	   A.cart_no = B.cart_no(+)
		   and	   
		 	   member_no = #{mno}    
		   and
		   	   class_no is null
	</select>
	
	<insert id="insertCouponProduct" parameterType="couponProduct" >
		insert
		  into
		  	   coupon_product_shop
		values
			   (
			   seq_cp_no.nextval
			  ,#{cartNo}
			  ,#{productName}
			  ,#{productContent}
			  ,#{couponPrice}
			  ,#{amount}
			  ,#{classNo}
			   )
	</insert>
	
	<insert id="insertAttach" parameterType="attachment">
		INSERT
		  INTO
		       ATTACHMENT
		       (
		       FILE_NO,
		       MEMBER_NO,
		       ORIGIN_NAME,
		       CHANGE_NAME,
		       FILE_LEVEL,
		       FILE_PATH
		       )
		VALUES
		      (
		      SEQ_FNO.NEXTVAL,
		      #{memberNo},
		      #{originName},
		      #{changeName},
		      #{fileLevel},
		      #{filePath}
		      )
	</insert>
	
	<select id="myCouponList" parameterType="couponProduct" resultType="couponProduct">
		select A.member_no memberNo
		      ,A.product_no cpNo
		      ,count(A.product_no) as "amount"
		      ,product_name productName
		      ,product_content productContent
		  from coupon_product A
		  	  ,vw_cp B
		 where A.product_no = B.product_no
		   and member_no = #{memberNo}
		   and class_no = #{classNo}
		 group 
		 	by A.member_no, A.product_no, product_name, product_content
	</select>
	
	<select id="selectStudentCplist" parameterType="couponProduct" resultType="couponProduct">
		select *
		  from class_member
		      ,(select A.member_no memberNo
		              ,C.member_name memberName
		              ,A.product_no cpNo
		              ,count(A.product_no) as "amount"
		              ,product_name productName
		          from coupon_product A, vw_cp B, member C
		         where A.product_no = B.product_no
		           and A.member_no = C.member_no
		         group by A.member_no, C.member_name, A.product_no, product_name)
		 where memberNo = student_no
		   and class_No = #{classNo}
		   and enter_status = 'Y'
	</select> 
	
	<delete id="useCoupon" parameterType="couponProduct">
		delete from coupon_product
		 where member_no = #{memberNo}
		   and product_no = #{cpNo}
		   and rownum = 1
	</delete>
	
	<select id="searchStudentCp-name" parameterType="hashMap" resultType="couponProduct">
		select *
		  from (select *
		          from class_member
		              ,(select A.member_no memberNo
		                      ,C.member_name memberName
		                      ,A.product_no cpNo
		                      ,count(A.product_no) as "amount"
		                      ,product_name productName
		                  from coupon_product A, vw_cp B, member C
		                 where A.product_no = B.product_no
		                   and A.member_no = C.member_no
		                 group by A.member_no, C.member_name, A.product_no, product_name)
		         where memberNo = student_no
		           and class_No = #{cno}
		           and enter_status = 'Y')
		 where memberName like '%' || #{keyword} || '%'
	</select>
	
	<select id="searchStudentCp-cpName" parameterType="hashMap" resultType="couponProduct">
		select *
		  from (select *
		          from class_member
		              ,(select A.member_no memberNo
		                      ,C.member_name memberName
		                      ,A.product_no cpNo
		                      ,count(A.product_no) as "amount"
		                      ,product_name productName
		                  from coupon_product A, vw_cp B, member C
		                 where A.product_no = B.product_no
		                   and A.member_no = C.member_no
		                 group by A.member_no, C.member_name, A.product_no, product_name)
		         where memberNo = student_no
		           and class_No = #{cno}
		           and enter_status = 'Y')
		 where productName like '%' || #{keyword} || '%'
	</select>
	
</mapper>