<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon-mapper">




	<select id="selectListCount" parameterType="_int" resultType="_int">
		select NVL(count(*), 0)
		  from coupon_product_shop
		 where class_no = #{classNo}
	</select>
	
	<select id="selectCpList" parameterType="couponProduct" resultType="couponProduct" >
		select 
		       product_no pNo
		      ,cart_no cartNo
		      ,product_name productName
		      ,product_content productContent
		      ,coupon_price couponPrice
		      ,amount
		      ,class_no classNo
		      ,file_no fileNo
		      ,file_path || file_name filePath
		  from 
		       vw_cp
		 where 
		       class_no = #{classNo}
		   and 
		   	   amount ^= 0    
		 order 
		    by 
		 	   coupon_price asc
	</select>
	
	<select id="selectCpList_desc" parameterType="couponProduct" resultType="couponProduct" >
		select 
		       product_no pNo
		      ,cart_no cartNo
		      ,product_name productName
		      ,product_content productContent
		      ,coupon_price couponPrice
		      ,amount
		      ,class_no classNo
		      ,file_no fileNo
		      ,file_path || file_name filePath
		  from 
		       vw_cp
		 where 
		       class_no = #{classNo}
		   and 
		   	   amount ^= 0       
		 order 
		 	by 
		 	   coupon_price desc
	</select>
	
	<select id="selectCpList_amount" parameterType="couponProduct" resultType="couponProduct" >
		select 
		       product_no pNo
		      ,cart_no cartNo
		      ,product_name productName
		      ,product_content productContent
		      ,coupon_price couponPrice
		      ,amount
		      ,class_no classNo
		      ,file_no fileNo
		      ,file_path || file_name filePath
		  from 
		       vw_cp
		 where 
		       class_no = #{classNo}
		   and 
		   	   amount ^= 0       
		 order 
		 	by 
		 	   amount asc
	</select>
	
	<insert id="insertMyCp" parameterType="list">
		insert 
		  into 
		  	   coupon_product 
  	    values
			<foreach collection="list" item="couponProduct" index="i" separator=",">
			   (
			   #{couponProduct.pNo}
			  ,#{couponProduct.memberNo}
			   )
			</foreach>
	</insert>
	
	
</mapper>