<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeMapper">
	<resultMap type="Store" id="storeResultSet">
		<result column="SP_NO" property="spNo"/>
		<result column="FILE_NO" property="fileNo"/>
		<result column="SP_NAME" property="spName"/>
		<result column="SP_CONTENT" property="spContent"/>
		<result column="SP_PRICE" property="spPrice"/>
		<result column="AMOUNT" property="amount"/>
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="SP_ONECOM" property="spOnecom"/>
		<result column="SP_DAY" property="spDay"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="FILE_LEVEL" property="fileLevel"/>

	</resultMap>
	<resultMap type="Attachment" id="AttachmentResultSet">
		<result column="FILE_NO" property="fileNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="FILE_PATH" property="filePath"/>
		
	</resultMap>
	<resultMap type="Cart" id="CartResultSet">
		<result column="CART_NO" property="cartNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="SP_NAME" property="spName"/>
		<result column="SP_NO" property="spNo"/>
		<result column="SP_PRICE" property="spPrice"/>
		<result column="BUY_COUNT" property="buyCount"/>
		<result column="ORDER_YN" property="orderYn"/>
		<result column="CART_DAY" property="cartDay"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="TOTPRICE" property="totPrice"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="FILE_PATH" property="filePath"/>
	
	</resultMap>
	<resultMap type="order" id="OrderResultSet">
		<result column="ORDER_NO" property="orderNo"/>	
		<result column="MEMBER_NO" property="memberNo"/>	
		<result column="RES_NAME" property="resName"/>	
		<result column="SEND_NAME" property="sendName"/>	
		<result column="RES_PHONE" property="resPhone"/>	
		<result column="SUMPRICE" property="sumPrice"/>
		<result column="ORDER_DAY" property="orderDay"/>
		<result column="ORDER_ADDRESS" property="orderAddress"/>
	</resultMap>
	<select id="selectListCount" resultType="_int">
           SELECT COUNT(*) 
            FROM S_STORE S
            JOIN  ATTACHMENT A  ON (S.FILE_NO= A.FILE_NO)
            WHERE AMOUNT > 0
	</select>
	<select id="selectList" resultMap="storeResultSet" resultType="Store">
			SELECT 
			    S.SP_NAME
			    ,S.SP_PRICE
			    ,S.VIEW_COUNT
			    ,S.SP_DAY   
			    ,S.FILE_NO
			    ,A.FILE_LEVEL
                ,A.FILE_PATH
                ,A.CHANGE_NAME
                ,S.SP_NO
                
			FROM S_STORE S
			JOIN ATTACHMENT A  ON (S.FILE_NO= A.FILE_NO)
			WHERE A.FILE_LEVEL = 2
			AND AMOUNT > 0
			ORDER BY SP_DAY DESC
	
	</select>
	<insert id="insertStoreAttachment" parameterType="Attachment">
	INSERT 
		INTO	
				ATTACHMENT
				(FILE_NO
				,MEMBER_NO
				,ORIGIN_NAME
				,CHANGE_NAME
				,FILE_LEVEL
				,FILE_PATH)
		VALUES
				(#{fileNo}
				,#{memberNo}
				,#{originName}
				,#{changeName}
				,2
				,#{filePath})
	</insert>
	<insert id="insertStore"  parameterType="Store">
	INSERT 
		INTO
				S_STORE
				(SP_NO
				 ,FILE_NO
				,SP_NAME
				,SP_CONTENT
				,SP_PRICE
				,AMOUNT
				,SP_ONECOM
				,SP_DAY)
		VALUES
			(SEQ_SP_NO.NEXTVAL
			,#{fileNo}
			,#{spName}
			,#{spContent}
			,#{spPrice}
			,#{amount}
			,#{spOnecom}
			,SYSDATE)	
	
		
	</insert>
	
	<select id="createFileNo" resultType="_int">
		SELECT SEQ_FNO.NEXTVAL FROM DUAL
	</select>
	<update id="inceraseCount">
		UPDATE
			S_STORE
		SET
			VIEW_COUNT = VIEW_COUNT+1
        WHERE
        	SP_NO=#{spNo}
    	AND
        	AMOUNT >0
		
	</update>
	<select id="selectStoreBoard"  resultMap="storeResultSet,AttachmentResultSet">
		   SELECT 
				S.SP_NO
				,S.FILE_NO
				,S.SP_NAME
				,S.SP_CONTENT 
				,S.SP_PRICE
				,S.AMOUNT
				,S.VIEW_COUNT 
				,S.SP_ONECOM
				,S.SP_DAY 
                ,A.FILE_NO
                ,A.FILE_PATH
                ,A.CHANGE_NAME
                
		FROM
			S_STORE S
        JOIN ATTACHMENT A  ON (S.FILE_NO= A.FILE_NO)
        WHERE AMOUNT > 0
        AND SP_NO = #{spNo}
	
	</select>
	
	<insert id="insertStoreCart" parameterType="cart">
	INSERT INTO 
		S_CART 
	VALUES 
		(SEQ_CART_NO.NEXTVAL
		,#{memberNo}
		,#{spNo}
		,#{buyCount}
		,DEFAULT
		,SYSDATE
		,null)
	
	</insert>
	<select id="selectStoreCart"  resultMap="CartResultSet">
		SELECT
		  	 CHANGE_NAME
 			 ,FILE_PATH
   			, S.FILE_NO
		    ,SP_NAME
		    ,CART_NO
		    ,S_CART.SP_NO
		    ,SP_PRICE
		    ,BUY_COUNT
		    ,CART_DAY
		    ,S_CART.MEMBER_NO
		    ,(SP_PRICE * BUY_COUNT) AS TOTPRICE
		FROM S_STORE S
		JOIN S_CART  ON(S_CART.SP_NO = S.SP_NO)
		JOIN ATTACHMENT ON(ATTACHMENT.FILE_NO= S.FILE_NO)
		WHERE S_CART.MEMBER_NO = #{memberNo}
	</select>
	<select id="checkStoreCart"  resultType="_int" >
	SELECT
		 COUNT(*) 
	FROM 
		S_CART 
	WHERE 
		MEMBER_NO = #{memberNo}
	 AND 
	 	ORDER_YN='N'
	 AND
	 	SP_NO=#{spNo}
	</select>
	<delete id="deleteStoreCart"   parameterType="cart">
	DELETE 
		FROM S_CART 
	WHERE 
		MEMBER_NO= #{memberNo} 
		AND SP_NO=#{spNo}
	</delete>
	<update id="updateStoreCart" parameterType="cart">
		UPDATE 
			S_CART
    	SET 
    		BUY_COUNT =BUY_COUNT+#{buyCount}
		WHERE SP_NO=#{spNo}
		AND MEMBER_NO=#{memberNo}
	</update>
	<insert id="createOrderNo">
		INSERT INTO 
				S_ORDER (ORDER_NO
						,MEMBER_NO)
				VALUES 
						(SEQ_ORDER_NO.NEXTVAL
						,#{memberNo})
	</insert>
	<select id="checkedOrderNo" resultType="_int">
		SELECT 
       		 LAST_NUMBER 
		FROM 
      	    USER_SEQUENCES 
		WHERE 
        	SEQUENCE_NAME = 'SEQ_ORDER_NO'
	
	</select>
	<update id="orderInfomation" parameterType="order">
		UPDATE
			    S_ORDER
			SET
			    RES_NAME=#{resName}
			    ,SEND_NAME=#{sendName}
			    ,RES_PHONE=#{resPhone}
			    ,SUMPRICE=#{sumPrice}
			    ,ORDER_DAY=SYSDATE
			    ,ORDER_ADDRESS=#{address}
			WHERE
			    ORDER_NO=#{orderNo}
	</update>
	<select id="buyCartSelect" resultMap="CartResultSet" parameterType="String" >
		
		SELECT
		    CHANGE_NAME
		    ,FILE_PATH
		    ,S.FILE_NO
		    ,SP_NAME
		    ,S_CART.SP_NO
		    ,SP_PRICE
		    ,BUY_COUNT
		    ,CART_DAY
		    ,S_CART.MEMBER_NO
		    ,(SP_PRICE * BUY_COUNT) AS TOTPRICE
		FROM S_STORE S
		JOIN S_CART  ON(S_CART.SP_NO = S.SP_NO)
		JOIN ATTACHMENT ON(ATTACHMENT.FILE_NO= S.FILE_NO)
		WHERE 
		 CART_NO IN 
		<foreach collection="array" item="cartNo"  index="i" separator="," open="(" close=")">
		#{cartNo}
		</foreach>
	
	</select>
	<update id="storeBuySuccess" parameterType="order">
		UPDATE
   				 S_ORDER
			SET
   			     MEMBER_NO=#{memberNo}
   			    ,RES_NAME=#{resName}
                ,SEND_NAME=#{sendName}
    			,RES_PHONE=#{resPhone}
    			,SUMPRICE=#{sumPrice}
    			,ORDER_ADDRESS=#{orderAddress}
    			
		WHERE
    			ORDER_NO=#{orderNo}
	</update>
	<update id="orderSuccess" parameterType="cart">
		UPDATE S_CART 
			SET ORDER_YN='Y', 
		ORDER_NO=#{orderNo} 
		WHERE
		MEMBER_NO={memberNo}
		AND CART_NO IN 
		<foreach collection="array" item="cartNo"  index="i" separator="," open="(" close=")">
		#{cartNo}
		</foreach>
	</update>

</mapper>